name: rustls-libssl

permissions:
  contents: read

on:
  push:
    branches: ['main', 'ci/*']
  pull_request:
  merge_group:
  schedule:
    - cron: '15 12 * * *'
  workflow_dispatch:

env:
  nfpm_version: '2.42.0'

jobs:
  valgrind:
    name: Valgrind
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install valgrind
        run: sudo apt-get update && sudo apt-get install -y valgrind
      - name: Install build + integration test dependencies
        run: sudo apt-get update && sudo apt-get install -y openssl libssl3 libssl-dev lld haproxy
      - run: VALGRIND="valgrind -q" make PROFILE=release test integration

